﻿@{
    ViewBag.Title = "Calculate";
}

<body>
    <div ng-controller="taasApp" class="container-fluid">
        <div id="players-section" ng-show="ShowPlayersSection()">
            <div class="row">
                <h3>
                    <span class="label label-default col-lg-2 col-md-2 col-sm-2">{{pencePerPoint}}p per Point </span>
                </h3>
            </div>
@*            <br />*@
            <ul class="row" style="font-weight: bold">
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-4">Name</li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Maal</li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Winner</li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">MaalSeen</li>
                <li class="col-lg-2 col-md-2 col-sm-1 col-xs-1">Dublie</li>
            </ul>
            <ul ng-repeat="player in players" class="row">
                <li class="col-lg-2 col-md-4 col-sm-4 col-xs-4"><strong>{{player.Name}}</strong></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input class="form-control mal-checkbox" ng-model="player.Mal" type="text" maxlength="2" /></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input class="checkbox" ng-click="UpdateGameWon($index)" ng-model="player.GameWon" type="checkbox" /></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input ng-change="UpdateMalSeen($index)" ng-model="player.MalSeen" type="checkbox" /></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input ng-model="player.Dubliee" type="checkbox" ng-change="UpdateDubliee($index)" /></li>
            </ul>
            <div>
                <input type="submit" ng-click="Calculate()" class="btn  btn-primary" value="Calculate" />
            </div>
            <div ng-show="DisplayTotalMal" class="col-lg-12">
                <h2 ng-show="DisplayTotalMal">
                    <small>Total Mall : {{TotalMalsForPlayer.TotalMall}}</small>
                </h2>
                <ul id="computed-players" style="list-style-type: none" class="row">
                    <li class="col-md-3 col-sm-3 col-xs-3">Name</li>
                    <li class="col-md-3 col-sm-3 col-xs-3">Points</li>
                    <li class="col-md-3 col-sm-3 col-xs-3">Money</li>
                </ul>
                <ul class="row" ng-repeat="player in TotalMalsForPlayer.Players">
                    <li class="col-md-3 col-sm-3 col-xs-3">{{player.Name}}</li>
                    <li class="col-md-3 col-sm-3 col-xs-3">{{player.TotalPoints}}</li>
                    <li class="col-md-3 col-sm-3 col-xs-3">{{player.MoneyPoints | currency: '£'}}</li>
                </ul>
            </div>
        </div>
    </div>
</body>