﻿@using Calculate.Controllers

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h3>Mall Calculator</h3>
    <form method="post" action="@Url.Action("Create", "Home")">
        @Html.TextBox("Player1", "", null, new {@class = "form-control input-lg", placeholder = "Player 1"})
        <br/>
        @Html.TextBox("Player2", "", null, new {@class = "form-control input-lg", placeholder = "Player 2"})
        <br/>
        @Html.TextBox("Player3", "", null, new {@class = "form-control input-lg", placeholder = "Player 3"})
        <br/>
        @Html.TextBox("Player4", "", null, new {@class = "form-control input-lg", placeholder = "Player 4"})
        <br/>
        @Html.TextBox("Player5", "", null, new {@class = "form-control input-lg", placeholder = "Player 5"})
        <br/>
        @Html.TextBox("PencePerPoint", "", null, new {@class = "form-control input-lg", placeholder = "Pence / point", type = "number", maxlength = 2, max = 10})
        <br/>
        <input type="submit" class="btn btn btn-primary btn-lg" data-toggle="Create a Game" aria-pressed="true" value="Start new Game">
    </form>
</div>





