﻿
@{
    ViewBag.Title = "Result";
}

<div class="container-fluid" ng-controller="result">
    <h2>Result</h2>
@*    <ul class="row">*@
@*        <li ng-repeat="player in players" class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><strong>{{player.Name}}</strong></li>*@
@*    </ul>*@


   raj: {{rounds | json }}

@*    <ul class="row" ng-repeat="round in rounds">*@
@*$1$        raj:{{round}}#1#*@
@*$1$        <li ng-repeat="player in round" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat-end><strong>{{player}}</strong></li>#1#*@
@*    </ul>*@


</div>

