﻿.space {
    margin-right: 136px;
    margin-left: 15px;
}

ul {
    margin: 0px;
    padding: 0;
}

#nameCheckbox {
    width: 120px;
}

#mallCheckbox {
    width: 30px;
    margin-left: 67px;
}

#mallSeenCheckbox {
    margin-left: 62px;
}

#gameWonCheckbox {
    margin-left: 82px;
}

#name-input-box {
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
li {
    margin-bottom: 5px;
}

.remove-player {
    margin-left: 25px;
}

.remove-player:hover{
    cursor: pointer;
}

#remove-help-text {
    display: none;
}
#max-players-error {
    color: rgb(206, 16, 16);
    font-size: 20px;
}
#hide-error-message:hover {
    cursor: pointer;
}

ul {
    list-style: none;

}
#computed-players{
    font-size: 17px;
    color: #999999;
}

#mallDublieeCheckbox {
    margin-left: 90px;
}

ul li{ 
    display:inline;
}

.mal-checkbox {
    width: 50px; 
}
.name-checkbox {
    width: 80px;
}

input[type="checkbox"]{
    display:inline-block;
    width:34px;
    height:34px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
.close-button {
    background: #E4A55E;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}